<html>
<head>
<title>:: BEL-VMS ::</title>

<!-- clickjacking prevention -->
<meta http-equiv="X-Frame-Options" content="deny" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<!-- JQuery Library -->
<script src="assets/js/lib/jQuery/jquery-1.12.3.min.js"></script>

<!-- Angular Libraries -->
<script src="assets/js/lib/Angular/1.5.5/angular.js"></script>
<!--<script src="assets/js/lib/Angular/1.5.5/angular.min.js"></script>-->
<script src="assets/js/lib/Angular/1.5.5/angular-route.min.js"></script>
<script src="assets/js/lib/Angular/1.5.5/angular-translate.js"></script>
<script src="assets/js/lib/Angular/1.5.5/angular-cookies.js"></script>
<script src="assets/js/lib/Angular/1.5.5/angular-translate-storage-cookie.js"></script>
<script src="assets/js/lib/Angular/1.5.5/angular-translate-storage-local.js"></script>
<script src="assets/js/lib/Angular/1.5.5/angular-translate-loader-url.js"></script>
<script src="assets/js/lib/Angular/1.5.5/angular-translate-loader-static-files.js"></script>
<script src="assets/js/lib/Angular/1.5.5/angular-i18n/angular-locale_en.js"></script>

<script src="app.route.js"></script>
<script src="common/filters/custom-filters.js"></script>
<!--<script src="app.module.js"></script> -->



<!-- Demo Module Files -->
<script src="modules/demo/demoMod.js"></script>
<script src="modules/demo/services/demoService.js"></script>
<script src="modules/demo/controllers/demoController.js"></script>
<script src="modules/demo/filters/demoFilters.js"></script>
<script src="modules/login/loginMod.js"></script>
<script src="modules/login/loginService.js"></script>
<script src="modules/login/loginController.js"></script>

</head>
    
<body ng-app="myApp">
   <div ng-controller="LangCtr" align="center">
	<!--  <button ng-click="changeLanguage('de')" class="btn btn-primary" translate="BUTTON_LANG_DE"></button>
	  <button ng-click="changeLanguage('en')" class="btn btn-primary" translate="BUTTON_LANG_EN"></button>
	  <button ng-click="changeLanguage('hi')" class="btn btn-primary" translate="BUTTON_LANG_HI"></button>-->
	   <select ng-model="selectedlanguage" ng-options="k as language|translate for (k,language) in languages" ng-change="changeLanguage(this.selectedlanguage)" ng-selected="true" selected="selected">
    </select>

	 
	<div>
    <div ng-view></div>
	
</body>
</html>