<div>
    <h2 class="text-center">Custom Filter - Ordinal Numbers</h2>
        <p><strong>Original:</strong></p>
        <ul class="list">
            <li>{{example1}}</li>
            <li>{{example2}}</li>
            <li>{{example3}}</li>
            <li>{{example4}}</li>
            <li>{{example5}}</li>
            <li>{{example6}}</li>
            <li>{{example7}}</li>
            <li>{{example8}}</li>
        </ul>
        <p><strong>Ordinal Filter:</strong></p>
        <ul class="list">
            <li>{{example1 | ordinal}}</li>
            <li>{{example2 | ordinal}}</li>
            <li>{{example3 | ordinal}}</li>
            <li>{{example4 | ordinal}}</li>
            <li>{{example5 | ordinal}}</li>
            <li>{{example6 | ordinal}}</li>
            <li>{{example7 | ordinal}}</li>
            <li>{{example8 | ordinal}}</li>
        </ul>
    </div>